trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
    displayName: 'Code Build'

  - script: |
      npm test
    displayName: 'Unit Tests'

  - script: |
      npm run lint
    displayName: 'Static Code Analysis'

  - script: |
      npm run coverage
    displayName: 'Code Coverage'

  - task: Docker@2
    inputs:
      command: 'build'
      containerRegistry: 'Docker Hub'
      repository: 'frankdevg/test-node'
      Dockerfile: '**/Dockerfile'
      tags: |
        $(Build.BuildId)
        latest
    displayName: 'Build Docker Image'

  - task: Docker@2
    inputs:
      command: 'push'
      containerRegistry: 'Docker Hub'
      repository: 'frankdevg/test-node'
      tags: |
        $(Build.BuildId)
        latest
    displayName: 'Push Docker Image'

  - task: AnchoreContainerScan@0
    inputs:
      image: 'frankdevg/test-node:$(Build.BuildId)'
    displayName: 'Container Vulnerability Scan'