trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
    displayName: 'Code Build'

  - script: |
      npm test
    displayName: 'Unit Tests'

  - script: |
      npm run lint
    displayName: 'Static Code Analysis'

  - script: |
      npm run coverage
    displayName: 'Code Coverage'

  - task: Docker@2
    inputs:
      command: 'build'
      containerRegistry: 'Docker Hub'
      repository: 'frankdevg/test-node'
      Dockerfile: '**/Dockerfile'
      tags: |
        $(Build.BuildId)
        latest
    displayName: 'Build Docker Image'

  - task: Docker@2
    inputs:
      command: 'push'
      containerRegistry: 'Docker Hub'
      repository: 'frankdevg/test-node'
      tags: |
        $(Build.BuildId)
        latest
    displayName: 'Push Docker Image'

  - script: |
      wget https://github.com/aquasecurity/trivy/releases/download/v0.17.2/trivy_0.17.2_Linux-64bit.tar.gz
      tar zxvf trivy_0.17.2_Linux-64bit.tar.gz
      ./trivy --exit-code 1 --no-progress frankdevg/test-node:latest
    displayName: 'Run Trivy Vulnerability Scan'

  - script: |
      az account set --subscription 71db5f6f-213f-4447-b05b-3a839cae0f7a
      az aks get-credentials --resource-group test-node --name test-node
    displayName: 'Configure AKS Credentials'

  - task: Kubernetes@1
    displayName: 'Deploy to Kubernetes'
    inputs:
      connectionType: 'Azure Resource Manager'
      azureSubscriptionEndpoint: 'your-azure-subscription-endpoint'
      azureResourceGroup: 'your-resource-group'
      kubernetesCluster: 'your-kubernetes-cluster'
      command: 'apply'
      arguments: '-f my-app-configmap.yaml -f my-app-secret.yaml -f my-app-deployment.yaml -f my-app-service.yaml -f my-app-ingress.yaml -f my-app-hpa.yaml -f my-app-pdb.yaml'