apiVersion: v1
kind: Pod
metadata: 
  name: my-app-pod
  labels:
    app: my-app
    type: microservice
spec: 
  containers:
    - name: my-app
      image: frankdevg/test-node:latest
      ports: 
        - containerPort: 80
