apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
      containers:
        - name: my-app-container
          image: frankdevg/test-node:latest
          ports:
            - containerPort: 3000
          command: ["sh", "-c", "npm start"]
          envFrom:
            - configMapRef:
                name: my-app-configmap
            - secretRef:
                name: my-database-credentials
